extends layout.pug 

block content
    //-  Sign up
    div(class='container-sm pt-3 pb-5 mx-4')
        .alert.alert-info.alert-dismissible(role='alert')
            button#closeSignupAlert.close(type='button' data-dismiss='alert')
                span(aria-hidden='true') &times;
                span.sr-only Close
            marquee
                p
                | Note: For those users who use non Google signup will need to verify their emails later.
        if error
            h4.d-flex.justify-content-center.alert.alert-secondary.font-weight-bold.text-danger.text-center !{error}
        div(class='d-flex justify-content-center')
            div(class='card my-0 py-2')
                div(class='mx-auto mb-2')
                    img(src='/assets/web-logo-only.png' alt='LogoImg')
                div(class='lead')
                    h3(class='text-center text-dark') Sign up
                div(class='card-body')
                    form(name='signinForm' action='/auth/server/signup/query' method='POST')
                        .col-auto
                            label(for='signup-input-user-name' name='signup-input-user-name' class='d-none') Name
                            div(class='input-group form-group')
                                div(class='input-group-prepend')
                                span(class='input-group-text')
                                    i.fa.fa-id-card(aria-hidden='true')
                                input(type='text' class='form-control' name='userName' placeholder='Enter your name'
                                        id='signup-input-user-name' required
                                        pattern='^[a-zA-Z]{1,}.*$' onchange="try{setCustomValidity('')}catch(e){}" 
                                        oninvalid="this.setCustomValidity('Need to start with a character')" 
                                        oninput="this.setCustomValidity(' ')" aria-expanded="true")
                        .col-auto
                            label(for='signup-input-user-email' name='signup-input-user-email' class='d-none') 
                                small(class='m-0 p-0') Email
                            div(class='input-group form-group')
                                div(class='input-group-prepend')
                                span(class='input-group-text')
                                    i.fa.fa-envelope(aria-hidden='true')
                                input(type='email' class='form-control' name='userEmail' placeholder='Enter your email' id='signup-input-user-email' required
                                        pattern="[a-z0-9._%+-]+@[a-z.-]+\.[a-z]{2,4}$" 
                                        onchange="try{setCustomValidity('')}catch(e){}" 
                                        oninvalid="this.setCustomValidity('Not valid email')" 
                                        oninput="this.setCustomValidity(' ')" aria-expanded="true")
                        .col-auto
                            label(for='signup-password-input' class='d-none') Password
                            div(class='input-group form-group' id='signup-password-container')
                                //- div(class='input-group-prepend')
                                span(class='input-group-text')
                                    i(class='fas fa-key')
                                input(type='password' id="signup-password-input" class='form-control text-truncate' 
                                    pattern='^(?=.*[A-Za-z])(?=.*\\d)(?=.*[$@$!%*#?&])[A-Za-z\\d$@$!%*#?&]{6,}$' name='userPassword'
                                    placeholder='Enter your password' onchange="try{setCustomValidity('')}catch(e){}" 
                                    oninvalid="this.setCustomValidity('Need min 6 chars: At least 1 letter, 1 number, and 1 special char')" 
                                    oninput="this.setCustomValidity(' ')" aria-expanded="true" required)
                                span
                                    i#toggle-password-icon.fa.fa-eye.password-field-status-icon(aria-hidden='true')
                        
                        .col-auto
                            div(class='input-group form-group')
                                button(type='submit' name="signup-submit" class='auth-button') Sign-up &#8594;

                    .col-auto
                        p(class='cross-middle-line-text') or
                        div(class='text-center mb-3')
                            a(class='google-auth-button' href='/auth/server/auth/google' role='button')
                                img(class='google-auth-img' alt='google-auth-img' src='/assets/Google__G__Logo.svg.webp')
                                div(class='ml-2') Sign-up with Google
                        p(class='cross-middle-line-text') already have an account?
                        div(class='text-center')
                            a(href='/auth/server/signin') Sign-in

                    .col-auto.mt-3
                        p(class='terms-of-services-text') By signup, you agree to this site's 
                            a(class='terms-of-services-link mr-1' href='#' type='button' data-toggle='modal' data-target='#contractModal') Terms of Services
                            span and Privacy Statement

    #contractModal.modal.fade(tabindex='-10' role='dialog' aria-labelledby='contactModal' aria-hidden='true')
        .modal-dialog.modal-dialog-scrollable.modal-lg.modal-dialog-centered(role='document')
            .modal-content
                .modal-header.bg-info
                    h5.modal-title Issue-Tracker Terms Of Services
                    button.close(type='button' data-dismiss='modal' aria-label='Close' class='btn btn-outline-danger')
                        span(aria-hidden='true') &times;
                .modal-body
                    h3 AGREEMENT TO TERMS
                    p 
                    | These Terms of Use constitute a legally binding agreement made between you and Issue-Tracker
                    p
                    | By accessing the website, you must agree that you have read, understood, and agree to all of these Terms of Use.
                    p
                    | We will alert you about any changes of these Terms of Use. However, it is your responsibility to periodically review and check the update of these Terms of Use.
                    h5.mt-3 COOKIES
                    p
                    | This site uses cookies to provide necessary functionality and improve users experience. By continuing to use this site, you consent to our site of cookies.
                    h5.mt-3 PRIVACY STATEMENT
                    p
                    | We care about data privacy and security. By using the website, you must agree to be bound by our Privacy Policy, which is incorporated into these Terms of Use. Also, please notice that
                    | the wedsite is hosted in the United States.
                    p 
                    | If you access the Site from the European Union, Asia, or any other region of the world with laws or other requirements governing personal data collection, use, or disclosure 
                    | that differ from applicable laws in the United States, then through your continued use of the Site, you are transferring your data to the United States, and you expressly consent to have your data transferred to and processed in the United States.
                    

                .modal-footer
                    button.btn.btn-secondary(type='button' name='agreeTerms' data-dismiss='modal' value='close' class='auth-button') Close
