extends layout.pug
    
block content
    //- Intro
    div(class='container-fluid mb-4 mt-3 mx-1 p-3')
        if error
            h4.d-flex.justify-content-center.alert.alert-secondary.font-weight-bold.text-danger !{error}
        if user
            .card
                .card-body
                    form(action='/image/server/change-user-image' method='POST' enctype="multipart/form-data" 
                         oninput='confirmNewPasword.setCustomValidity(newPassword.value != confirmNewPasword.value ? "Passwords do not match." : "")')
                        .row
                            .col-12.col-sm-auto.mb-3
                                .mx-auto(style='width: 150px;')
                                    .d-flex.justify-content-center.align-items-center.rounded(style='height: 150px; background-color: rgb(233, 236, 239);')
                                        if user.image
                                            img(src=`${user.image}` onerror="this.style.display='none'" alt='user-avatar' width='150' height='150')
                                        else 
                                            span(name='blank-user-avatar' style='color: rgb(166, 168, 170); font: bold 8pt Arial;') 150x150 
                            .col.d-flex.flex-column.flex-sm-row.justify-content-between.mb-3
                                .text-center.text-sm-left.mb-2.mb-sm-0
                                    h4.pt-sm-2.pb-1.mb-0.text-nowrap #{user.name}
                                    p.mb-0 #{user.email}
                                    .text-muted
                                        if user.lastLogin
                                            small Last seen #{user.lastLogin}
                                    .mt-0
                                        .custom-file.my-1
                                            input#input-user-image-file.custom-file-input(type='file' name='userAvatar' class='d-none')
                                            label(for='input-user-image-file' name='input-user-image-label' class='btn btn-primary font-weight-bold .custom-file-label') 
                                                i.fa.fa-fw.fa-camera
                                                span(class='ml-1') Change Image
                                            label(name='display-user-image-file-label' class='mx-1')
                                .text-center.text-sm-right
                                    span.badge.badge-secondary #{user.role}
                                    .text-muted
                                        small Joined #{user.createdOn}
                        ul.nav.nav-tabs
                            li.nav-item
                                a.active.nav-link(href='') Settings
                        .tab-content.pt-3
                            .tab-pane.active
                                form.form(novalidate='')
                                    .row
                                        .col
                                            .row
                                                .col
                                                    .form-group
                                                        label User name
                                                        input.form-control(type='text' name='userName' value=user.name)
                                                .col
                                                    .form-group
                                                        label Email
                                                        input.form-control(type='email' value=user.email readonly)
                                    .row
                                        .col-12.col-sm-6.mb-3
                                            .mb-2
                                                b Change Password
                                            .row
                                                .col
                                                    .form-group
                                                        label Current Password
                                                        input.form-control(type='password' value=user.password readonly)
                                            .row
                                                .col
                                                    .form-group
                                                        label New Password (only available for account using non-social signup)
                                                        input.form-control(type='password' name='newPassword' class='form-control text-truncate' 
                                                                pattern='^(?=.*[A-Za-z])(?=.*\\d)(?=.*[$@$!%*#?&])[A-Za-z\\d$@$!%*#?&]{6,}$'
                                                                placeholder='Please enter your new password' onchange="try{setCustomValidity('')}catch(e){}" 
                                                                oninvalid="this.setCustomValidity('Need min 6 chars: At least 1 letter, 1 number, and 1 special char')" 
                                                                oninput="this.setCustomValidity(' ')" aria-expanded="true" 
                                                                disabled=user.isSocialAccount)
                                            .row
                                                .col
                                                    .form-group
                                                        label
                                                            | Confirm 
                                                            span.d-none.d-xl-inline Password
                                                        input.form-control(type='password' name='confirmNewPasword' 
                                                                            disabled=user.isSocialAccount)
                                        .col-12.col-sm-5.mb-3
                                            .mb-2
                                                b Keeping in Touch
                                            .row
                                                .col
                                                    label Email Notifications
                                                    .custom-controls-stacked.px-2
                                                        .custom-control.custom-checkbox
                                                            input#notifications-news.custom-control-input(type='checkbox' checked='')
                                                            label.custom-control-label(for='notifications-news') Newsletter
                                .row
                                    .col.d-flex.justify-content-end
                                        button.btn.btn-primary(type='submit' class='save-profile-button' name='save-profile-button') Save Changes

        else
            | Loading... (please refresh if waiting too long)
